@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap');
body
{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: o;
}
nav
{
    font-family: 'ubuntu', sans-serif;
   

}
nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 45px;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.Brand img{
    width: 40px;
    align-items: center;
    padding: 0 6px;
}
.Brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
.bottom
{
    position: sticky;
    background-color: black;
    height: 60px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
#myprogressbar{
    width: 80vw;


}
.container
{
    min-height: 80vh;
}